$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-text-color: #fff;
$game-background-color: #2d3a42;

body {
  background-color: $game-background-color;
  color: $light-text-color;
  padding-top: 65px;

}

.landing {
  background-image: url('../images/cave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  padding-top: 65px;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbotron {
  background: none;
  color: $light-text-color;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

.monster-image-small {
  height: 100px;
  width: 100px;
}

.monster-image-large {
  height: 300px;
  width: 300px;
}

.bat{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://i.imgur.com/klK8v0A.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.squid{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://i.imgur.com/AhF7kvd.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ghost{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('http://i.imgur.com/9c6bY0X.png');
  background-repeat: no-repeat;
  background-size: cover;
}
