$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$light-text-color: #fff;
$game-background-color: #2d3a42;

body {
  background-color: $game-background-color;
  color: $light-text-color;
  padding-top: 65px;
}
.navbar-toggle {
  margin-right: 50px;
}

.form-horizontal .control-label {
  color: #000000;
  text-align: left;
}

.dark-text {
  color: #000000;
}

.img-wrapper {
  position: relative;
  margin-top: -15px;
}

.img-responsive {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 100%;
  max-height: auto;
}

.img-overlay-hunger {
  position: absolute;
  top: 0;
  text-align: center;
}

.img-overlay-poop {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.poop-5 {
  visibility: hidden;
}

.poop-4 {
  width: 10%;
}

.poop-3 {
  width: 20%;
}

.poop-2 {
  width: 40%;
}

.poop-1 {
  width: 50%;
}

.poop-0 {
  width: 60%;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 30%;
}

.img-overlay-hunger:before {
  content: ' ';
  display: block;
  height: 0;
}

.img-overlay-poop:before {
  content: ' ';
  display: block;
  height: 0;
}

.monster-size-0 {
  height: auto;
  width: 10%;
  margin-top: 10%
}
.monster-size-1 {
  height: auto;
  width: 20%;
  margin-top: 0%
}
.monster-size-2 {
  height: auto;
  width: 30%;
  margin-top: -5%
}
.monster-size-3 {
  height: auto;
  width: 40%;
  margin-top: -7%
}
.monster-size-4 {
  height: auto;
  width: 50%;
  margin-top: -12%
}
.monster-size-5 {
  height: auto;
  width: 60%;
  margin-top: -15%
}

.landing {
  background-image: url('../images/cave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  padding-top: 65px;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbotron {
  background: none;
  color: $light-text-color;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

.monster-image-small {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.monster-image-large {
  height: 300px;
  width: 300px;
}

.col-centered {
  display: inline-block;
  float: none;
}

.game {
  text-align: center;
}

.bat_happy_alive {
  content: url('https://i.imgur.com/QLNTw4p.png');
}

.bat_sad_alive {
  content: url('https://i.imgur.com/pE8hFR6.png');
}

.bat_sad_dead {
  content: url('https://i.imgur.com/ORzy6zW.png');
}

.ghost_happy_alive {
  content: url('https://i.imgur.com/9c6bY0X.png');
}

.ghost_sad_alive {
  content: url('https://i.imgur.com/SWhh5b8.png');
}

.ghost_sad_dead {
  content: url('https://i.imgur.com/do3rtf3.png');
}

.squid_happy_alive {
  content: url('https://i.imgur.com/AhF7kvd.png');
}

.squid_sad_alive {
  content: url('https://i.imgur.com/LyoBZ3s.png');
}

.squid_sad_dead {
  content: url('https://i.imgur.com/AxnoQFP.png');
}

.cave {
  content: url('https://i.imgur.com/4sn3joe.png');
}

.forest {
  content: url('https://i.imgur.com/B1fy0ZZ.png');
}

.poop {
  content: url('https://i.imgur.com/nIvy1cp.png');
}

.food {
  content: url('https://i.imgur.com/nLuTJqQ.png');
}
